* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #393939;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .logo h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #1d0a50;
  }
  
  h2 {
    background-color: #1a1918;
    border: 2px solid #05d55c;
    padding: 10px;
  }
  
  section {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ebeff3;
  }
  
  section h2 i {
    margin-right: 10px;
    font-size: 1.2em;
    color: #03c934;
  }
  
  section p {
    font-size: 16px;
    margin-bottom: 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }
  
  p span {
    word-wrap: break-word;
    color: #158b0e;
    display: inline-block;
    max-width: 90%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #03b126;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #4f08f4;
  }
  
  #operationResult {
    display: none;
    background-color: #158b0e;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  footer {
    background-color: #1e1e20;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-menu li {
    margin: 0 15px;
  }
  
  .footer-menu-item {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .footer-menu-item i {
    margin-right: 5px;
  }
  
  #connectWallet {
    background-color: #03ba3a;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  #connectWallet:hover {
    background-color: #053ad8;
  }
  
  #withdrawCoins {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  #withdrawCoins:hover {
    background-color: #2980b9;
  }
  
  .countdown {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: #FFF;
  }
  
  .countdown-box {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: 2px solid green;
  }
  
  nav ul {
      list-style-type: none;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  nav ul li {
      display: inline;
      margin-right: 20px;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #00ff00;
      padding: 5px 10px;
      border: 1px solid #00ff00;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
      background-color: #fff;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  nav ul li a:hover {
      background-color: #00ff00;
      color: #333;
  }
  
  .welcome {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f8fa;
    padding: 20px;
    border-radius: 10px;
  }
  
  .welcome h1 {
    font-size: 36px;
    color: #05d55c;
  }
  
  .content {
    display: none;
  }


header, main, section, footer {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(11, 245, 42, 0.5);
    overflow: hidden;
  }
  
  